/* ------ global ------ */
:root {
  --primary-color: #3F497F;
  --secondary-color: #F8F5E4;
  /* --tertiary: #fad186; */
  --tertiary: #ffd588;
  --orange: #ff4d00;
  --font-size: 16px;
}

* {
  /* color: black;    testing */
  /* font-family: 'Noto Serif Malayalam', serif; */
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  /* flex-shrink: 1; */
}

body {
  /* background-color: var(--tertiary=) !important; */
  overflow-x: hidden;
  /* overflow-y: scroll; */
  max-width: 100%;
  background-color: black;
}

#background-video {
  /* width: 100vw ; */
  height: 100vh ;
  /* object-fit: cover !important; */
  margin-top: -15%;
  margin-bottom: 10%;
  /* position: fixed; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  /* margin-top: ; */
}


#title {
  /* color: var(--secondary-color); */
  color: white;
  font-family: 'Bungee', serif;
  font-size: 35px;
}

.div {
padding-top: 5%;}

.projDiv {
  padding-top: 9%;}

/* ------ nav bar ------ */
.navbar-logo {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  /* overflow: hidden; */
  /* width: auto; */
  flex-shrink: 1;
/* margin-top: -30%; 
margin-bottom: -30%; */
 /* margin: auto;  */
margin-left: 45%;
}


#navbar {
  flex-shrink: 1;
  /* height: 80px; */
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  /* background-color: rgba(0, 0, 0, 0.496); */
  background-color: black;
  position: fixed;
  top: 0;
  /* z-index: 1000; */
  justify-content: space-around;
  align-items: center;
  /* margin-left: 10px; */
}

.item {
  margin-left: 5%;
}

.navDiv {
  /* height: 100px;
  width: 100%; */
  /* background-color: var(--tertiary); */
  position: fixed;
  /* color: var(--tertiary); */
  top: 0;
  z-index: 2;
  overflow: hidden;
}

.tab {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
font-size: x-large;
color: white !important;
text-decoration: none;
}

#dropdown {
  display: none;
}

/* ---Contact Us--- */
.social-logo {
  height: 30px;
  margin: 35px;
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  bottom: 10px;
}

/* ----homepage---- */
.landing {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 72px;
}

.landing-text {
  background-color: white;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 2; 

}

/* .logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 72px;
  width: 50%;
} */

/* .voice {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 0; 
  margin-top: -100px;
  padding-bottom: 50px;
} */

/* ----About Us ----- */


.about-title {
  /* color: var(--orange); */
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-text {
 text-align: center;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 margin: 5%;
 color: white;
 
}

.about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin-left: 1%; */
  /* margin-right: 1%; */
color: white;
}

.border {
  /* border: var(--orange); */
  border-width: 2px;
  border-style: solid;
  width: 40vw;
  height: 40vh;
margin-bottom: 1%;

}

.about-spacing {
  margin-left: 1%;
/* margin-right: 1%; */
}

.aboutImg {
  max-height: 15vh;
}

/* ---Projects---- */
#Projects {
  margin-top: 5%;
}

.ceremony {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  align-items: center;
  text-align: center;
}

.ceremonyImg {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* max-width: 45%; */
  /* width: 45%; */
  width: 50%;
  /* margin-left: 15%; */
}

.podcastImg {
  /* display: flex;
  flex-wrap: wrap;
  flex-shrink: inherit; */
  /* justify-content: center; */
  /* max-width: 500%;
  margin-right: 250%; */
  /* margin-left: 15%;
  margin-top: 4%; */
  /* width: 40vw; */
  /* width: 40%; */
  /* height: 50vh; */
height: 60vh;
/* width: fit-content; */
}

.podcastText {
  display: flex;
  flex-wrap: wrap;
justify-content: center;
  color: white;
  /* max-width: 40%; */
  /* margin-left: 40%; */
}

.ceremonyText {
  color: white;
  /* text-align: center; */
  /* align-items: center; */
  /* margin-left: -20%;
  margin-right: 20%; */
/* justify-content: center; */
}
/* Story */

.storyText {
  color: white;
}

.Archives {
display: none;
}

/* ---Contact Us--- */
.contact {
display: flex;  
justify-content: center;
  align-self: flex-end;
}

.contactText {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 100vw; */
  /* margin-left: 25%; */
  /* word-break: break-all; */
  /* margin-top: 8%; */
  /* text-decoration: none; */
  justify-content: center;
  color: white;
}
/* .contactBorder {
  border: var(--orange);
  border-width: 2px;
  border-style: solid;
  width: 50vw;
  height: 55vh;
margin-bottom: 1%;
} */

.contactForm {
  color: white;
align-content: end;
max-width: 300px;
}

.form {
  display: flex;
  justify-content: center;
/* width: 100vw; */
}

.Button {
/* background-color: black;
color: white;
border-color: black;
border-style: none; */
display: flex;
justify-content: center;
align-content: center;
margin-left: 45%;
}

/* ---Connect--- */

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 50px;
}

.ig {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 70px;
}

/* ---Footer--- */
.footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  color: rgb(180, 177, 177);
  margin-top: 6%;
}


@media (max-width: 1199px) {
  .ceremonyImg {
    width: 70%;
  }
}

@media (max-width: 991) {
  .ceremonyImg {
    width: fit-content;
  }
}

@media (max-width: 908px) {
  .navbar-logo {
    display: none;
  }
  .podcastImg {
    max-width: 200%;
  }
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  /* max-width: fit-content; */
  width: 100%;
  justify-content: center;
  }

  .item {
display: none;   
  }

  .navbar-logo {
    display: flex;
  }

.navbar {
  display: flex;
  justify-content: center;
}

  #dropdown {
display: flex;
color: white;
justify-content: center;
}

.about-title {
margin-top: 10%;
}

.us {
  display: flex;
  flex-direction: column;
}

.wwd {
  width: 75%;
  margin-bottom: 25px;
}

.about-text {
  font-size: medium;
  margin: 0;
}


.coffee {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.beginning {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.ceremonyImg {
width: 100%;
}

.podcastImg {
  /* display: none; */
  /* height: 50%; */
max-width: 100%;}

.projText {
  font-size: small;
}

  .icons {
justify-content: space-evenly;
    height: 20px;
}

.ig {
  justify-content: space-evenly;
      height: 30px;
    }
}
  

@media (max-width: 666px) {
 
  .social-logo {
    height: 10px;
  }
}

@media (max-width: 581px) {
.navDiv {
  height: 163px;
}
}

@media (max-width: 280px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }
 
  .social-logo {
    height: 15px;
    bottom: 0%;
  }
  body {
    max-width: 300px;
  }
  #navbar {
    max-width: 100%;
  }
  .logo {
    margin-top: 10%;
  }
  .landing-text {
    max-width: 100%;
    font-size: medium;
    margin-bottom: 20%;
  }
  .voice {
    max-width: 100%;
    margin-bottom: 25%;
  }
  .border {
    width: 200px;
    height: 320px;
}
  .projBorder {
    width: 200px;
    height: 500px;
  }
  .contactBorder {
    width: 200px;
    height: 300px;
  }
  .contactText {
    margin-left: 5%;

  }
  .navDiv {
    max-width: 100%;
    height: 248px !important;
  }
}